

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photoframe {
    width: 69px;
height: 69px;
flex-shrink: 0;
border-radius: 69px;
border: 1px solid #C0C0C0;
margin: 81px;

}

.input {
    width: 561px;
height: 59px;
flex-shrink: 0;
}

.input input{
height: 59px;
fill: var(--box, #FFF);
stroke-width: 1px;
stroke: var(--search, #C8C8C8);
color: var(--search, #C8C8C8);
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.share {
    color: var(--primary-color, #179CFD);
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-decoration-line: underline;
padding: 38px
}

.buttons {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.button button {
    width: 180px;
height: 60px;
flex-shrink: 0;
border-radius: 3px;
background: #179CFD;
color: #FFF;
font-feature-settings: 'rclt' off;
font-family: Segoe UI Variable;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 125% */
}

.buttonwhite button {
    width: 180px;
height: 60px;
flex-shrink: 0;
border-radius: 3px;
border: 0.5px solid #C8C8C8;
background: #FFF;
color: #C8C8C8;
font-feature-settings: 'rclt' off;
font-family: Segoe UI Variable;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 125% */
}