.body {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

}

.form {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top:5%;
}

.formfield {
    margin: 10px;
    width: 100%;
    max-width: 500px;
    background:  transparent;
    
}

.input {
    width: 471px;
    height: 59px;
    flex-shrink: 0;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 0.70);

}

.input input{
    background: transparent;
}

.button {
    width: 100%;
    max-width: 471px;
    height: 3rem;
    color: #179CFD;
    text-align: center;
    font-feature-settings: 'rclt' off;
    font-family: Segoe UI Variable;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    border-radius: 3px;
    background: #FFF;
    
}

.back {
    position: absolute;
    top: 7%;
    left: 16px;
    color: #FFF;
font-family: Segoe UI Variable;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 114.286% */
}

.p {
    color: #FFF;
font-family: Segoe UI Variable;
font-size: 11px;
font-style: normal;
font-weight: 400;
line-height: normal;
}