.invite {
    width: 261px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 3px;
  background: #179CFD;
  color: #FFF;
  font-feature-settings: 'rclt' off;
  font-family: Segoe UI Variable;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

.shareIcon {
  width: 19px;
  height: 19px;
}